@charset "windows-1252";

@import url('../font-awesome-4.3.0/css/font-awesome.min.css');

@import url('../font-awesome-4.3.0/css/font-awesome.css');

/* Android Title bar styling begin */
.amx-panelPage-header-appIcon {
    /*background-image: url("images/Icon.png");
    border-bottom-color: #81bc00;
    background-color: #002776;*/

    display: none;
}

.amx-panelPage-header {
    border-bottom-color: #1EBE92;
    background-color: #000000;
    color: #000000;
    font-size: large;
    font-weight: bold;
    font-family: 'Arial Black';
}

.amx-panelPage-header .amx-outputText {
    color: #FFFFFF;
    font-size: medium;
    font-weight: normal;
    text-overflow: ellipsis;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    white-space: pre-wrap;
}
/* Android Title bar styling end */
.amx-panelPage-content > .amx-outputText {
    color: #002776;
    text-align: center;
    font: 16px Arial, Helvetica, Sans-serif;
    font-size: large;
    font-weight: 400;
}

.amx-panelPage-facet-primary {
    position: absolute;
    top: 0;
    right: 80%;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.amx-panelPage-facet-secondary {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80%;
    z-index: 3;
}
.amx-panelPage-header-overflowIcon {
    display: none;
}
.remove_ul {
    text-decoration: none;
}
/* Same padding for LTR & RTL but for specificity, we are adding html[dir] to the selector */
html[dir="ltr"] .amx-panelFormLayout.amx-label-position-topStart .field-value, html[dir="ltr"] .amx-panelFormLayout.amx-label-position-topCenter .field-value, html[dir="ltr"] .amx-panelFormLayout.amx-label-position-topEnd .field-value {
    padding: 0px 10px 10px 5px;
}


.appIconStyle{
    padding-left: 10px;
}

.iconstyle text{
    color:#ffffff;
}
.iconstyle label{
    color:#ffffff; 
}
.iconstyle-buttonBackground{
    background: #1EBE92;
}
.iconstyle-buttonBackground:active{
    background: #1EBE92;
}